$primary_color: #38fb30;
$secondary: #ff2b06;
$accent1: #ffbf00 ;
$accent2: #f6d754 ;
$black: #1d1d1f;
$white: #f5f5f7;
$sidebar_active: #198754;
$sidebar_hover: #dc3545;
$table_header_background: #198754;
$table_footer_background: #dc3545;
$card_background: #198754;
$card_background_hover: #dc3545;
$border: #dc3545;
$lightgray: #c3c3c3;
$gray: #7a7a7a;
$darkgray: #303030;
$box_color: turquoise;