@import url("https://fonts.cdnfonts.com/css/script-mt?styles=95594");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
}

.body {
  background-color: #f5f5f7;
}

/* navbar starts here */
ul li {
  font-size: 20px;
  font-weight: bold;
}

.navbar-collapse ul li a {
  color: #f5f5f7 !important;
  display: flex;
  justify-content: center;
}

ul li a:hover, a:hover,
ul li h3,
ul li h4,
ul li h6 {
  color: #ffbf00 !important;
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #38fb30;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggler-icon {
  background: #f5f5f7;
}

nav {
  margin-top: 1px;
  border-top: solid 2px #ff2b06;
  border-bottom: solid 1px #ff2b06;
}

.navbar, .topbar {
  position: fixed;
  background: #38fb30;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 60px;
  padding: 0 20px;
  align-items: center;
  z-index: 1;
}

.banner, .logo h2 {
  color: #ffbf00;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 10px;
}

.banner-hover {
  color: #38fb30 !important;
  font-weight: bolder;
  font-size: 30px !important;
}

.container-index {
  background-color: #1d1d1f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.container-index img {
  height: 100vh;
}

.home-text {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f5f5f7;
}

.home-text h1 {
  font-size: 50px !important;
  color: #ff2b06 !important;
}

#about .home-text {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f5f5f7 !important;
  padding-right: 20px;
}

#about .home-text h2 {
  font-size: 25px;
}

.contact-btn button {
  color: #38fb30;
  font-size: 20px;
  margin: 0 20px;
  border: 3px solid #38fb30;
}

h5 {
  color: #1d1d1f !important;
}

.menu_container {
  padding: 60px 20px 20px 20px;
}

.menu_container .menu_cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.menu_header > h2 {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
}

.menu_card {
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}

.menu_cards h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.details {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  top: 300px;
  left: 270px;
  border: 3px solid #1d1d1f;
  background-color: #38fb30;
}

.details div {
  font-size: 30px;
  font-weight: bold;
  color: #f5f5f7;
}

/* login page */
.index_container {
  height: 100vh;
  width: 100%;
  background: #ffbf00;
}

.index_login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: black;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.index_login-box .user-box {
  position: relative;
}

.index_login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.index_login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  text-transform: none;
}

.index_login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

#checkbox {
  display: grid;
  grid-template-columns: 50px 50px;
  justify-content: space-between;
}

.checkboxlabel {
  color: white;
}

.index_login-box .user-box input:focus ~ label,
.index_login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffbf00;
  font-size: 12px;
}

.index_login-box .buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.index_login-box .button {
  position: relative;
  display: inline-block;
  padding: 10px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: black;
  font-weight: bold;
  border-radius: 10px;
  border: 3px solid #ffbf00;
}

.index_login-box .button:hover {
  background: #ffbf00;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffbf00, 0 0 25px #ffbf00, 0 0 50px #ffbf00, 0 0 100px #ffbf00;
}

.topbar {
  position: fixed;
  background: #1d1d1f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 60px;
  padding: 0 20px;
  align-items: center;
  z-index: 1;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo img {
  top: 0;
  left: 0;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid #ffbf00;
}

.system_log {
  background-color: #ffbf00;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.system_log .employee_picture {
  width: calc(100vh - 10%);
  height: calc(100vh - 10%);
  padding: 5%;
}

.system_log .employee_picture div {
  width: 100%;
  height: 100%;
  border: 5px solid black;
  border-radius: 100%;
  overflow: hidden;
}

.system_log .employee_picture div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.system_log .employee_details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.system_log .employee_details #exactDate {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

.system_log .employee_details #exactTime {
  font-size: 125px;
  font-weight: bold;
}

.system_log .employee_details .employee_name {
  margin-top: 10%;
  font-size: 75px;
  font-weight: bold;
}

.system_log .employee_details .employee_department {
  font-size: 50px;
  font-style: italic;
}

/* sidebar starts here */
.sidebar {
  position: fixed;
  top: 60px;
  width: 260px;
  height: calc(100% - 60px);
  background-color: #ffbf00;
}

.sidebar ul {
  margin-top: 20px;
  margin-left: -32px;
}

.sidebar #user_sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.sidebar #user_sidebar_officer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar ul li {
  width: 100%;
  list-style: none;
}

.sidebar ul li:hover {
  background: #1d1d1f;
}

.sidebar ul li:hover a {
  color: #1d1d1f;
}

.sidebar ul .hover {
  background: #1d1d1f;
}

.sidebar ul .hover a {
  color: #ffbf00;
}

.sidebar ul li a {
  width: 100%;
  text-decoration: none;
  color: #1d1d1f;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.sidebar ul li a i {
  min-width: 60px;
  font-size: 24px;
  text-align: center;
}

/* main starts here */
#dashboard_section,
#waste_collection_form,
#sorting_dashboard_section,
#sorting_form,
#treatment_process_dashboard,
#treatment_process_form,
#certification_dashboard,
#destruction_form,
#billing_dashboard,
#billing_process_form,
#marketing_dashboard,
#marketing_transaction_form,
#client_list_section,
#new_client_form,
#type_of_waste_list_section,
#type_of_waste_form,
#logistic_dashboard,
#logistics_travel_form,
#vehicle_list_section,
#new_vehicle_form,
#vehicle_maintenance_form,
#purchasing_dashboard,
#purchase_order_form,
#safety_dashboard,
#incident_documentation_form,
#hr_dashboard,
#employee_list_section,
#attendance_form,
#employee_form,
#order_request_form,
#incident_report_form,
#directorySection,
#accountingSection,
#settingsSection,
#helpSection {
  position: absolute;
  top: 60px;
  width: calc(100% - 260px);
  left: 260px;
  padding: 20px;
  min-height: calc(100vh - 60px);
  background: #f5f5f7;
}

#waste_collection_form,
#sorting_form,
#treatment_process_form,
#destruction_form,
#billing_process_form,
#marketing_transaction_form,
#client_list_section,
#new_client_form,
#type_of_waste_list_section,
#type_of_waste_form,
#logistics_travel_form,
#vehicle_list_section,
#new_vehicle_form,
#vehicle_maintenance_form,
#incident_documentation_form,
#purchase_order_form,
#directorySection,
#accountingSection,
#employee_list_section,
#attendance_form,
#employee_form,
#marketing_dashboard,
#incident_report_form,
#settingsSection,
#helpSection,
.section_container #logistic_dashboard,
.section_container #dashboard_section,
.section_container #sorting_dashboard_section,
.section_container #treatment_process_dashboard,
.section_container #certification_dashboard,
.section_container #billing_dashboard,
.section_container #safety_dashboard {
  display: none;
}

section h2 {
  font-weight: bold;
}

.header_date_time {
  display: flex;
  position: fixed;
  right: 140px;
  z-index: 2;
  color: white;
  gap: 20px;
}

.header_date {
  font-size: 20px;
  font-weight: bold;
}

.header_time {
  font-size: 40px;
  font-weight: bold;
}

.refresh_button {
  position: fixed;
  right: 20px;
  z-index: 2;
}

.refresh_button button {
  height: 50px;
  width: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refresh_button button i {
  font-size: 30px;
  color: blue;
}

.back_button {
  position: fixed;
  right: 70px;
  z-index: 2;
}

.back_button button {
  height: 50px;
  width: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back_button button i {
  font-size: 30px;
  color: blue;
}

/* dashboard section starts here */
#dashboard_section .cards {
  width: 100%;
  height: 120px;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background: #f5f5f5;
}

#dashboard_section .cards2 {
  width: 100%;
  height: 120px;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background: #f5f5f5;
}

#dashboard_section .card {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: black;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
  border: 3px solid #ffbf00;
}

#dashboard_section .cards .card:hover {
  background: #ffbf00;
}

#dashboard_section .cards .card:hover .number,
#dashboard_section .cards .card:hover .card-name,
#dashboard_section .cards .card:hover .icon-box i {
  color: black;
}

#dashboard_section .number {
  font-size: 35px;
  font-weight: bold;
  color: #ffbf00;
  text-align: center;
}

#dashboard_section .card-name {
  color: white;
  font-weight: 600;
}

#dashboard_section .icon-box i {
  font-size: 45px;
  color: #ffbf00;
}

#dashboard_section .list {
  width: 100%;
  font-size: 25px;
  color: white;
}

#dashboard_section table {
  width: 100%;
}

#dashboard_section table tr {
  border-bottom: 1px solid white;
}

#dashboard_section table td,
#dashboard_section table th {
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
}

#dashboard_section table th {
  color: #ffbf00;
}

/* WASTE COLLECTION FORM section starts here */
#waste_collection_form form .form {
  max-width: 250px !important;
}

#waste_collection_form form .wcf_form {
  display: flex;
  gap: 20px;
}

#waste_collection_form form input,
#waste_collection_form form select {
  border: 3px solid green !important;
}

#waste_collection_form form label,
#waste_collection_form form select,
#waste_collection_form form input {
  font-size: 20px !important;
}

#waste_collection_form form .search_wcf_result,
#waste_collection_form form .search_ltf_result {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 3px solid green;
  font-size: 20px !important;
}

#waste_collection_form form .search_input {
  position: relative;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

#waste_collection_form form .search_input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

#waste_collection_form form .search_input .icon {
  height: 55px;
  width: 55px;
  line-height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

#waste_collection_form form .search_input .autocom_box {
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

#waste_collection_form form .search_input.active .autocom_box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

#waste_collection_form form .search_input .autocom_box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

#waste_collection_form form .search_input.active .autocom_box li {
  display: block;
}

#waste_collection_form form .search_input .autocom_box li:hover {
  background-color: #efefef;
}

#waste_collection_form form .time_in_out,
#waste_collection_form form .plate_and_driver {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

#waste_collection_form form .time_in_out label {
  width: 100%;
}

#waste_collection_form form .time_in_out input {
  font-size: 25px !important;
}

#waste_collection_form form .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
}

#waste_collection_form form #wcf_data,
#waste_collection_form form #wcf_data2 {
  display: none;
}

#waste_collection_form form .add_item {
  display: flex;
  width: 100%;
  position: relative;
}

#waste_collection_form form .item_buttons {
  position: absolute;
  right: 0;
  display: flex;
}

#waste_collection_form form #add_item_button {
  max-width: 60px !important;
  background-color: green;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-radius: 60px;
  text-align: center;
}

#waste_collection_form form #remove_item_button {
  max-width: 60px !important;
  background-color: red;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-radius: 60px;
  text-align: center;
  display: none;
}

#waste_collection_form form .buttons {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

#waste_collection_form form #submit,
#waste_collection_form form button {
  max-width: 200px !important;
  background-color: green;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

#waste_collection_form form #reset {
  max-width: 200px !important;
  background-color: green;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

#waste_collection_form form #clear_wcf_form_no_button {
  background-color: green;
}

#sorting_dashboard_section .cards {
  width: 100%;
  height: 120px;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background: #f5f5f5;
}

#sorting_dashboard_section .card {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: black;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
  border: 3px solid #ffbf00;
}

#sorting_dashboard_section .cards .card:hover {
  background: #ffbf00;
}

#sorting_dashboard_section .cards .card:hover .number,
#sorting_dashboard_section .cards .card:hover .card-name,
#sorting_dashboard_section .cards .card:hover .icon-box i {
  color: black;
}

#sorting_dashboard_section .number {
  font-size: 35px;
  font-weight: bold;
  color: #ffbf00;
  text-align: center;
}

#sorting_dashboard_section .card-name {
  color: white;
  font-weight: 600;
}

#sorting_dashboard_section .icon-box i {
  font-size: 45px;
  color: #ffbf00;
}

#sorting_dashboard_section .list {
  width: 100%;
  font-size: 25px;
  color: white;
}

#sorting_dashboard_section table {
  width: 100%;
}

#sorting_dashboard_section table tr {
  border-bottom: 1px solid white;
}

#sorting_dashboard_section table td,
#sorting_dashboard_section table th {
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
}

#sorting_dashboard_section table th {
  color: #ffbf00;
}

#sorting_form form .form,
#sorting_form form .form #batch_weight {
  max-width: 250px !important;
}

#sorting_form form .sf_form {
  display: flex;
  gap: 20px;
}

#sorting_form form textarea,
#sorting_form form input,
#sorting_form form select {
  border: 3px solid red !important;
}

#sorting_form form textarea,
#sorting_form form label,
#sorting_form form select,
#sorting_form form input {
  font-size: 20px !important;
}

#sorting_form form textarea {
  height: 150px;
  resize: none;
}

#sorting_form form .search_sf_wcf_result {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 3px solid red;
  font-size: 20px !important;
}

#sorting_form form .search_input {
  position: relative;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

#sorting_form form .search_input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

#sorting_form form .search_input .icon {
  height: 55px;
  width: 55px;
  line-height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

#sorting_form form .search_input .autocom_box {
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

#sorting_form form .search_input.active .autocom_box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

#sorting_form form .search_input .autocom_box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

#sorting_form form .search_input.active .autocom_box li {
  display: block;
}

#sorting_form form .search_input .autocom_box li:hover {
  background-color: #efefef;
}

#sorting_form form .completion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#sorting_form form .items,
#sorting_form form .items_header {
  display: grid;
  grid-template-columns: 7fr 3fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 3px dashed red;
  margin-bottom: 20px;
}

#sorting_form form .items,
#sorting_form form #batch_weight_list,
#sorting_form form #additional_item1,
#sorting_form form #header,
#sorting_form form #add_item_button,
#sorting_form form #weights,
#sorting_form form #buttons,
#sorting_form form .completion {
  display: none;
}

#sorting_form form .add_item {
  display: flex;
  width: 100%;
  position: relative;
}

#sorting_form form .item_buttons {
  position: absolute;
  right: 0;
  display: flex;
}

#sorting_form form #add_item_button {
  max-width: 60px !important;
  background-color: red;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-radius: 60px;
  text-align: center;
}

#sorting_form form #remove_item_button {
  max-width: 60px !important;
  background-color: red;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-radius: 60px;
  text-align: center;
  display: none;
}

#sorting_form form .discrepancy_button_holder {
  display: flex;
  align-items: end;
}

#sorting_form form #discrepancy_button {
  height: 60px;
  background-color: red;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  text-align: center;
}

#sorting_form form .buttons {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

#sorting_form form #submit,
#sorting_form form button {
  max-width: 200px !important;
  background-color: red;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

#sorting_form form #reset {
  max-width: 200px !important;
  background-color: red;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

#treatment_process_dashboard .cards {
  width: 100%;
  height: 120px;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background: #f5f5f5;
}

#treatment_process_dashboard .card {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: black;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
  border: 3px solid #ffbf00;
}

#treatment_process_dashboard .cards .card:hover {
  background: #ffbf00;
}

#treatment_process_dashboard .cards .card:hover .number,
#treatment_process_dashboard .cards .card:hover .card-name,
#treatment_process_dashboard .cards .card:hover .icon-box i {
  color: black;
}

#treatment_process_dashboard .number {
  font-size: 35px;
  font-weight: bold;
  color: #ffbf00;
  text-align: center;
}

#treatment_process_dashboard .card-name {
  color: white;
  font-weight: 600;
}

#treatment_process_dashboard .icon-box i {
  font-size: 45px;
  color: #ffbf00;
}

#treatment_process_dashboard .list {
  width: 100%;
  font-size: 25px;
  color: white;
}

#treatment_process_dashboard table {
  width: 100%;
}

#treatment_process_dashboard table tr {
  border-bottom: 1px solid white;
}

#treatment_process_dashboard table td,
#treatment_process_dashboard table th {
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
}

#treatment_process_dashboard table th {
  color: #ffbf00;
}

#treatment_process_form form .form {
  max-width: 250px !important;
}

#treatment_process_form form .tpf_form {
  display: flex;
  gap: 20px;
}

#treatment_process_form form .completion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#treatment_process_form form input,
#treatment_process_form form select {
  border: 3px solid purple !important;
}

#treatment_process_form form label,
#treatment_process_form form select,
#treatment_process_form form input {
  font-size: 20px !important;
}

#treatment_process_form form .search_sf_result {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 3px solid purple;
  font-size: 20px !important;
}

#treatment_process_form form .search_input {
  position: relative;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

#treatment_process_form form .search_input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

#treatment_process_form form .search_input .icon {
  height: 55px;
  width: 55px;
  line-height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

#treatment_process_form form .search_input .autocom_box {
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

#treatment_process_form form .search_input.active .autocom_box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

#treatment_process_form form .search_input .autocom_box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

#treatment_process_form form .search_input.active .autocom_box li {
  display: block;
}

#treatment_process_form form .search_input .autocom_box li:hover {
  background-color: #efefef;
}

#treatment_process_form form .items,
#treatment_process_form form .items_header {
  display: grid;
  grid-template-columns: 7fr 3fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 3px dashed purple;
  margin-bottom: 20px;
}

#treatment_process_form form .items,
#treatment_process_form form .items_header,
#treatment_process_form form .completion,
#treatment_process_form form #add_item_button,
#treatment_process_form form #buttons {
  display: none;
}

#treatment_process_form form .add_item {
  display: flex;
  width: 100%;
  position: relative;
}

#treatment_process_form form .item_buttons {
  position: absolute;
  right: 0;
  display: flex;
}

#treatment_process_form form #add_item_button {
  max-width: 60px !important;
  background-color: purple;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-radius: 60px;
  text-align: center;
}

#treatment_process_form form #remove_item_button {
  max-width: 60px !important;
  background-color: purple;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-radius: 60px;
  text-align: center;
  display: none;
}

#treatment_process_form form .buttons {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

#treatment_process_form form #submit,
#treatment_process_form form button {
  max-width: 200px !important;
  background-color: purple;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

#treatment_process_form form #reset {
  max-width: 200px !important;
  background-color: purple;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

#certification_dashboard .cards {
  width: 100%;
  height: 120px;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background: #f5f5f5;
}

#certification_dashboard .card {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: black;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
  border: 3px solid #ffbf00;
}

#certification_dashboard .cards .card:hover {
  background: #ffbf00;
}

#certification_dashboard .cards .card:hover .number,
#certification_dashboard .cards .card:hover .card-name,
#certification_dashboard .cards .card:hover .icon-box i {
  color: black;
}

#certification_dashboard .number {
  font-size: 35px;
  font-weight: bold;
  color: #ffbf00;
  text-align: center;
}

#certification_dashboard .card-name {
  color: white;
  font-weight: 600;
}

#certification_dashboard .icon-box i {
  font-size: 45px;
  color: #ffbf00;
}

#certification_dashboard .list {
  width: 100%;
  font-size: 25px;
  color: white;
}

#certification_dashboard table {
  width: 100%;
}

#certification_dashboard table tr {
  border-bottom: 1px solid white;
}

#certification_dashboard table td,
#certification_dashboard table th {
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
}

#certification_dashboard table th {
  color: #ffbf00;
}

#destruction_form {
  overflow: scroll;
}

#destruction_form form .form {
  max-width: 250px !important;
}

#destruction_form form .form2 {
  max-width: 350px !important;
  color: white;
}

#destruction_form form .cod_form,
#destruction_form form #type_of_cod_list {
  display: flex;
  gap: 20px;
}

#destruction_form form input,
#destruction_form form select {
  border: 3px solid blue !important;
}

#destruction_form form label,
#destruction_form form select,
#destruction_form form input {
  font-size: 20px !important;
}

#destruction_form form .search_cod_result {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 3px solid blue;
  font-size: 20px !important;
}

#destruction_form form .search_input {
  position: relative;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

#destruction_form form .search_input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

#destruction_form form .search_input .icon {
  height: 55px;
  width: 55px;
  line-height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

#destruction_form form .search_input .autocom_box {
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

#destruction_form form .search_input.active .autocom_box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

#destruction_form form .search_input .autocom_box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

#destruction_form form .search_input.active .autocom_box li {
  display: block;
}

#destruction_form form .search_input .autocom_box li:hover {
  background-color: #efefef;
}

#destruction_form .form {
  max-width: 250px !important;
  color: white;
  font-weight: bold;
}

#destruction_form form .completion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#destruction_form form .buttons {
  display: flex;
  gap: 20px;
}

#destruction_form form #what_to_print {
  width: 816px;
  height: 1056px;
  border: 3px solid black;
  background-color: white;
}

#destruction_form form #reset,
#destruction_form form button {
  max-width: 200px !important;
  background-color: blue;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

#destruction_form form #what_to_print,
#destruction_form form #client_container,
#destruction_form form #completion,
#destruction_form form #convertToPDFandDownload_button,
#destruction_form form #convertToPDF_button {
  display: none;
}

#billing_dashboard .cards {
  width: 100%;
  height: 120px;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background: #f5f5f5;
}

#billing_dashboard .card {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: black;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
  border: 3px solid #ffbf00;
}

#billing_dashboard .cards .card:hover {
  background: #ffbf00;
}

#billing_dashboard .cards .card:hover .number,
#billing_dashboard .cards .card:hover .card-name,
#billing_dashboard .cards .card:hover .icon-box i {
  color: black;
}

#billing_dashboard .number {
  font-size: 35px;
  font-weight: bold;
  color: #ffbf00;
  text-align: center;
}

#billing_dashboard .card-name {
  color: white;
  font-weight: 600;
}

#billing_dashboard .icon-box i {
  font-size: 45px;
  color: #ffbf00;
}

#billing_dashboard .list {
  width: 100%;
  font-size: 25px;
  color: white;
}

#billing_dashboard table {
  width: 100%;
}

#billing_dashboard table tr {
  border-bottom: 1px solid white;
}

#billing_dashboard table td,
#billing_dashboard table th {
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
}

#billing_dashboard table th {
  color: #ffbf00;
}

#billing_process_form {
  overflow: scroll;
}

#billing_process_form form .form {
  max-width: 250px !important;
}

#billing_process_form form .bpf_form {
  display: flex;
  gap: 20px;
}

#billing_process_form form input,
#billing_process_form form select {
  border: 3px solid cyan !important;
}

#billing_process_form form label,
#billing_process_form form select,
#billing_process_form form input {
  font-size: 20px !important;
}

#billing_process_form form .search_wcf_result {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 3px solid cyan;
  font-size: 20px !important;
}

#billing_process_form form .search_input {
  position: relative;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

#billing_process_form form .search_input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

#billing_process_form form .search_input .icon {
  height: 55px;
  width: 55px;
  line-height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

#billing_process_form form .search_input .autocom_box {
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

#billing_process_form form .search_input.active .autocom_box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

#billing_process_form form .search_input .autocom_box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

#billing_process_form form .search_input.active .autocom_box li {
  display: block;
}

#billing_process_form form .search_input .autocom_box li:hover {
  background-color: #efefef;
}

#billing_process_form .form {
  max-width: 250px !important;
  color: white;
  font-weight: bold;
}

#billing_process_form form .buttons {
  display: flex;
  gap: 20px;
}

#billing_process_form form .what_to_print {
  width: 816px;
  height: 1056px;
  border: 3px solid black;
  background-color: white;
}

#billing_process_form form #submit {
  max-width: 200px !important;
  background-color: cyan;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

#billing_process_form form #reset,
#billing_process_form form button {
  max-width: 200px !important;
  background-color: cyan;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

#billing_process_form form #search_sf_wcf_form_no_button {
  background-color: cyan;
}

/* marketing dashboard section starts here */
.marketing .cards {
  width: 100%;
  height: 120px;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background: #f5f5f5;
}

.marketing .cards2 {
  width: 100%;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
  background: #f5f5f5;
}

.marketing .cards3 {
  width: 100%;
  height: 120px;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.marketing .cards4 {
  width: 100%;
  height: 120px;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.marketing .cards5 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #ffbf00;
}

.marketing .card {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: black;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
  border: 3px solid #ffbf00;
}

.marketing .cards .card:hover {
  background: #ffbf00;
}

.marketing .cards .card:hover .number,
.marketing .cards .card:hover .card-name,
.marketing .cards .card:hover .icon-box i {
  color: black;
}

.marketing .number {
  font-size: 35px;
  font-weight: bold;
  color: #ffbf00;
  text-align: center;
}

.marketing .card-name {
  color: white;
  font-weight: 600;
}

.marketing .icon-box i {
  font-size: 45px;
  color: #ffbf00;
}

.marketing .list {
  width: 100%;
  font-size: 25px;
  color: white;
}

.marketing table {
  width: 100%;
}

.marketing table tr {
  border-bottom: 1px solid white;
}

.marketing table td,
.marketing table th {
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
}

.marketing table th {
  color: #ffbf00;
}

/* MARKETING TRANSACTION FORM section starts here */
.marketing form .form {
  max-width: 250px !important;
}

.marketing form .mtf_form {
  display: flex;
  gap: 20px;
}

.marketing form input,
.marketing form select {
  border: 3px solid orangered !important;
}

.marketing form label,
.marketing form select,
.marketing form input {
  font-size: 20px !important;
}

.marketing form .search_mtf_result {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 3px solid orangered;
  font-size: 20px !important;
}

.marketing form .search_input {
  position: relative;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.marketing form .search_input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.marketing form .search_input .icon {
  height: 55px;
  width: 55px;
  line-height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.marketing form .search_input .autocom_box {
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

.marketing form .search_input.active .autocom_box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.marketing form .search_input .autocom_box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

.marketing form .search_input.active .autocom_box li {
  display: block;
}

.marketing form .search_input .autocom_box li:hover {
  background-color: #efefef;
}

.marketing form .date_time_weight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.marketing form .date_time_weight label {
  width: 100%;
}

.marketing form .date_time_weight input {
  font-size: 20px !important;
}

.marketing form .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
}

.marketing form #mtf_data {
  display: none;
}

.marketing form .add_item {
  display: flex;
  width: 100%;
  position: relative;
}

.marketing form .item_buttons {
  position: absolute;
  right: 0;
  display: flex;
}

.marketing form #add_item_button {
  max-width: 60px !important;
  background-color: orangered;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-radius: 60px;
  text-align: center;
}

.marketing form #remove_item_button {
  max-width: 60px !important;
  background-color: red;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-radius: 60px;
  text-align: center;
  display: none;
}

.marketing form .flex {
  display: flex;
  gap: 20px;
}

.marketing form .flex > div {
  width: 100%;
}

.marketing form .buttons {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.marketing form #submit,
.marketing form button {
  max-width: 200px !important;
  background-color: orangered;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.marketing form #reset {
  max-width: 200px !important;
  background-color: orangered;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.marketing form #clear_wcf_form_no_button {
  background-color: orangered;
}

/* logistics dashboard section starts here */
.logistic .cards {
  width: 100%;
  height: 120px;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background: #f5f5f5;
}

.logistic .cards2 {
  width: 100%;
  height: 120px;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  background: #f5f5f5;
}

.logistic .card {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: black;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
  border: 3px solid #ffbf00;
}

.logistic .cards .card:hover {
  background: #ffbf00;
}

.logistic .cards .card:hover .number,
.logistic .cards .card:hover .card-name,
.logistic .cards .card:hover .icon-box i {
  color: black;
}

.logistic .number {
  font-size: 35px;
  font-weight: bold;
  color: #ffbf00;
  text-align: center;
}

.logistic .card-name {
  color: white;
  font-weight: 600;
}

.logistic .icon-box i {
  font-size: 45px;
  color: #ffbf00;
}

.logistic .list {
  width: 100%;
  font-size: 25px;
  color: white;
}

.logistic table {
  width: 100%;
}

.logistic table tr {
  border-bottom: 1px solid white;
}

.logistic table td,
.logistic table th {
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
}

.logistic table th {
  color: #ffbf00;
}

/* LOGISTICS TRAVEL FORM section starts here */
.logistic form .form {
  max-width: 250px !important;
}

.logistic form .ltf_form {
  display: flex;
  gap: 20px;
}

.logistic form input,
.logistic form select {
  border: 3px solid yellowgreen !important;
}

.logistic form label,
.logistic form select,
.logistic form input {
  font-size: 20px !important;
}

.logistic form .search_ltf_result {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 3px solid yellowgreen;
  font-size: 20px !important;
}

.logistic form .search_input {
  position: relative;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.logistic form .search_input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.logistic form .search_input .icon {
  height: 55px;
  width: 55px;
  line-height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.logistic form .search_input .autocom_box {
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

.logistic form .search_input.active .autocom_box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.logistic form .search_input .autocom_box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

.logistic form .search_input.active .autocom_box li {
  display: block;
}

.logistic form .search_input .autocom_box li:hover {
  background-color: #efefef;
}

.logistic form .time_in_out,
.logistic form .plate_and_driver {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.logistic form .plate_driver_truck_helper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.logistic form .time_in_out label {
  width: 100%;
}

.logistic form .time_in_out input {
  font-size: 25px !important;
}

.logistic form .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
}

.logistic form #ltf_data {
  display: none;
}

.logistic form .add_item {
  display: flex;
  width: 100%;
  position: relative;
}

.logistic form .item_buttons {
  position: absolute;
  right: 0;
  display: flex;
}

.logistic form #add_item_button {
  max-width: 60px !important;
  background-color: yellowgreen;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-radius: 60px;
  text-align: center;
}

.logistic form #remove_item_button {
  max-width: 60px !important;
  background-color: red;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-radius: 60px;
  text-align: center;
  display: none;
}

.logistic form .buttons {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.logistic form #submit,
.logistic form button {
  max-width: 200px !important;
  background-color: yellowgreen;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.logistic form #reset {
  max-width: 200px !important;
  background-color: yellowgreen;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.logistic form #clear_wcf_form_no_button {
  background-color: yellowgreen;
}

.logistic form .data {
  display: flex;
  gap: 20px;
  width: 100%;
}

/* safety_dashboard section starts here */
.safety .cards {
  width: 100%;
  height: 120px;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background: #f5f5f5;
}

.safety .cards2 {
  width: 100%;
  height: 120px;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background: #f5f5f5;
}

.safety .card {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: black;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
  border: 3px solid #ffbf00;
}

.safety .cards .card:hover {
  background: #ffbf00;
}

.safety .cards .card:hover .number,
.safety .cards .card:hover .card-name,
.safety .cards .card:hover .icon-box i {
  color: black;
}

.safety .number {
  font-size: 35px;
  font-weight: bold;
  color: #ffbf00;
  text-align: center;
}

.safety .card-name {
  color: white;
  font-weight: 600;
}

.safety .icon-box i {
  font-size: 45px;
  color: #ffbf00;
}

.safety .list {
  width: 100%;
  font-size: 25px;
  color: white;
}

.safety table {
  width: 100%;
}

.safety table tr {
  border-bottom: 1px solid white;
}

.safety table td,
.safety table th {
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
}

.safety table th {
  color: #ffbf00;
}

/* incident_documentation_form section starts here */
.safety form .form {
  max-width: 250px !important;
}

.safety form .idf_form {
  display: flex;
  gap: 20px;
}

.safety form input,
.safety form select {
  border: 3px solid violet !important;
}

.safety form label,
.safety form select,
.safety form input {
  font-size: 20px !important;
}

.safety .flex {
  display: flex;
  gap: 20px;
}

.safety .flex > div {
  width: 100%;
}

.safety form .search_irf_result {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 3px solid violet;
  font-size: 20px !important;
}

.safety form .search_input {
  position: relative;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.safety form .search_input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.safety form .search_input .icon {
  height: 55px;
  width: 55px;
  line-height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.safety form .search_input .autocom_box {
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

.safety form .search_input.active .autocom_box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.safety form .search_input .autocom_box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

.safety form .search_input.active .autocom_box li {
  display: block;
}

.safety form .search_input .autocom_box li:hover {
  background-color: #efefef;
}

.safety form .buttons {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.safety form #submit,
.safety form button {
  max-width: 200px;
  background-color: violet;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.safety form #reset {
  max-width: 200px !important;
  background-color: violet;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.safety form #clear_wcf_form_no_button {
  background-color: violet;
}

.safety .head_button {
  display: flex;
  gap: 20px;
  width: 100% !important;
}

.safety .head_button button {
  font-size: 30px;
  font-weight: bold;
  width: 100% !important;
  max-width: 100%;
}

.safety .head_button :nth-child(1) {
  background-color: yellow;
}

.safety .head_button :nth-child(2) {
  background-color: orange;
}

.safety .head_button :nth-child(3) {
  background-color: red;
}

.safety #form_details,
.safety #uarf_form,
.safety #nmrf_form,
.safety #airf_form,
.safety #search_irf_result,
.safety #head_button {
  display: none;
}

.hr .cards {
  width: 100%;
  height: 120px;
  padding: 10px 0px 0 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background: #f5f5f5;
}

.hr .card {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: black;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
  border: 3px solid #ffbf00;
}

.hr .cards .card:hover {
  background: #ffbf00;
}

.hr .cards .card:hover .number,
.hr .cards .card:hover .card-name,
.hr .cards .card:hover .icon-box i {
  color: black;
}

.hr .number {
  font-size: 35px;
  font-weight: bold;
  color: #ffbf00;
  text-align: center;
}

.hr .card-name {
  color: white;
  font-weight: 600;
}

.hr .icon-box i {
  font-size: 45px;
  color: #ffbf00;
}

.hr .list {
  width: 100%;
  font-size: 25px;
  color: white;
}

.hr table {
  width: 100%;
}

.hr table tr {
  border-bottom: 1px solid white;
}

.hr table td,
.hr table th {
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
}

.hr table th {
  color: #ffbf00;
}

.hr form .form {
  max-width: 300px !important;
}

.hr form .hrf_form {
  display: flex;
  gap: 20px;
}

.hr form .hrf_form_attendance {
  display: grid;
  grid-template-columns: 0.8fr 1.3fr 1.3fr 1.2fr 1.2fr 1.2fr;
  gap: 20px;
}

.hr form .hrf_form_grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}

.hr form input,
.hr form select {
  border: 3px solid cyan !important;
}

.hr form input {
  padding: 7px 0 7px 5px !important;
}

.hr form input[type=number] {
  text-align: center;
}

.hr form label,
.hr form select,
.hr form input {
  font-size: 20px !important;
}

.hr form .search_input {
  position: relative;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.hr form .search_input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.hr form .search_input .icon {
  height: 55px;
  width: 55px;
  line-height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.hr form .search_input .autocom_box {
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

.hr form .search_input.active .autocom_box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.hr form .search_input .autocom_box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

.hr form .search_input.active .autocom_box li {
  display: block;
}

.hr form .search_input .autocom_box li:hover {
  background-color: #efefef;
}

.hr .form {
  max-width: 250px !important;
}

.hr form .buttons {
  display: flex;
  gap: 20px;
}

.hr form .hrf_form_grid3 {
  display: grid;
  width: 100%;
  grid-template-columns: 28% 12% 12% 12% 12% 12% 12%;
}

.hr form .hrf_form_grid3 .first_day {
  display: grid !important;
  width: 100%;
  grid-template-columns: 57% 43%;
}

.hr form .hrf_form_grid3 .first_day div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr form .hrf_form_grid3 .first_day .label {
  font-weight: bold;
}

.hr form .net_salary {
  display: flex;
  justify-content: end;
}

.hr form .hrf_form_grid3,
.hr form .hide {
  display: none;
}

.disabled {
  pointer-events: none;
  /* You can also add additional styles to visually indicate the disabled state */
  opacity: 0.3; /* For example, reducing the opacity to visually show the disabled state */
  cursor: default; /* Set the cursor to the default (usually an arrow) to indicate it's not clickable */
}

input:disabled {
  /* Add your styles here for disabled input fields */
  background-color: #fafafa !important; /* For example, changing the background color */
  color: black; /* Changing the text color */
  cursor: not-allowed; /* Changing the cursor to indicate it's not clickable */
  /* Add any other styles you want to apply to disabled inputs */
}

/* Hide the default checkbox */
.hr form .custom-checkbox input[type=checkbox] {
  display: none;
}

.hr form .custom-checkbox {
  display: flex;
  justify-content: center;
  padding: 10px 5px;
}

/* Style the custom checkbox */
.hr form .custom-checkbox .checkmark {
  display: inline-block;
  width: 24px; /* Customize the size here */
  height: 24px; /* Customize the size here */
  background-color: #ccc;
  border: 2px solid #555;
  border-radius: 4px;
  vertical-align: middle;
}

/* Style the custom checkbox when checked */
.hr form .custom-checkbox input[type=checkbox]:checked + .checkmark {
  background-color: #007bff; /* Customize the color when checked */
  border-color: #007bff; /* Customize the border color when checked */
}

/* Style the label text */
.hr form .custom-checkbox label {
  font-size: 16px; /* Customize the font size */
  line-height: 24px; /* Adjust this to vertically center the text */
  vertical-align: middle;
}

.hr form .buttons {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 50px;
}

.hr form #submit,
.hr form button {
  max-width: 200px;
  background-color: cyan;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.hr form #reset {
  max-width: 200px !important;
  background-color: cyan;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.hr #employee_form i {
  font-size: 20px;
}

.hr #new_employee_form,
.hr #update_record_form,
.hr #update_record_form #details {
  display: none;
}

.hr .line1 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr 2fr;
  gap: 20px;
}

.hr .line2 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  gap: 20px;
}

.hr .line3 {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
  gap: 20px;
}

.hr .line4 {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
  gap: 20px;
}

.hr .line5 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 20px;
}

.hr .line6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr 3fr;
  gap: 20px;
}

.hr .line7 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  gap: 20px;
}

.hr #payroll_button {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 50px;
  width: 50px !important;
  font-size: 40px;
  padding: 5px;
  color: blue;
  border: 3px solid cyan;
}

.hr #payroll_tab {
  position: absolute;
  z-index: 2;
  top: 100px;
  right: 20px;
  width: calc(100vw - 300px);
  background-color: white;
  padding: 20px;
  border: 3px solid cyan;
  border-radius: 10px;
  overflow: scroll;
  min-height: 80%;
  display: none;
}

.hr #generate_payslip_button,
.hr #download_payslip_button {
  max-width: 300px !important;
}

.hr #download_payslip_button {
  display: none;
}

#payroll_form {
  width: 1344px;
  height: 816px;
  border: 3px solid black;
  background-color: white;
}

#payroll_form .payroll {
  margin: 20px 20px 20px 70px;
  width: calc(100% - 90px);
  height: 775px;
  border: 3px solid black;
  padding: 5px;
}

#payroll_form .bold {
  font-weight: bold;
}

#payroll_form h1 {
  font-size: 16px;
  margin: 0;
}

#payroll_form h2 {
  font-size: 12px;
  margin: 0;
}

#payroll_form h3 {
  font-size: 11px;
  margin: 0;
}

#payroll_form h4 {
  font-size: 10px;
  margin: 0;
}

.border-top-bottom {
  border-top: 1px solid black !important;
  border-bottom: 1px solid black !important;
}

.border-top {
  border-top: 1px solid black !important;
}

.border-bottom {
  border-bottom: 1px solid black !important;
}

.border-left {
  border-left: 1px solid black !important;
}

.border-right {
  border-right: 1px solid black !important;
}

#payroll_form .payroll img {
  height: 25px;
}

#payroll_form .payroll .header {
  display: flex;
}

#payroll_form .payroll .header .header_title {
  padding-left: 5px;
}

#payroll_form .payroll table thead th,
#payroll_form .payroll table tbody td {
  color: black !important;
  font-size: 8px !important;
  border: 1px solid black;
  padding: 0 !important;
}

#payroll_form .payroll table tbody td {
  height: 20px;
}

#order_request_form form #orf_item_container > div {
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid red;
}

#order_request_form form #orf_item_container > div > div:first-child {
  display: grid;
  grid-template-columns: 15% calc(70% - 40px) 15%;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

#order_request_form form #orf_item_container > div > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(2, calc((100% - 20px) / 2));
  -moz-column-gap: 20px;
       column-gap: 20px;
}

/* Responsive starts here */
@media (max-width: 1115px) {
  .sidebar {
    width: 60px;
  }
  .sidebar div {
    display: none;
  }
  #dashboard_section,
  #sorting_dashboard_section,
  #treatment_process_dashboard,
  #certification_dashboard,
  #billing_dashboard,
  #waste_collection_form,
  #sorting_form,
  #treatment_process_form,
  #destruction_form,
  #billing_process_form,
  #directorySection,
  #accountingSection,
  #settingsSection,
  #helpSection {
    position: absolute;
    top: 60px;
    width: calc(100% - 60px);
    left: 60px;
    min-height: calc(100vh - 60px);
    background: #f5f5f7;
  }
  .main {
    left: 60px;
    width: calc(100% - 60px);
  }
  .cards {
    width: calc(100% - 60px);
  }
  .card .card-name {
    font-size: 16px;
  }
  .card .number {
    font-size: 16px;
  }
  .cards :nth-child(2) .card-name,
  .cards :nth-child(3) .card-name,
  .cards :nth-child(5) .card-name {
    padding: 16px 0 0 0;
  }
}
@media (max-width: 880px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .charts {
    grid-template-columns: 1fr;
  }
  .charts {
    margin-top: 300px;
  }
}
@media (max-width: 768px) {
  .nb {
    margin-top: -9px !important;
  }
}
@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .logo h2 {
    font-size: 20px;
  }
  .search {
    width: 80%;
  }
  .search input {
    padding: 0 20px;
  }
  .charts {
    margin-top: 650px;
  }
}/*# sourceMappingURL=main.css.map */