<li class="hover">
    <a href="#">
        <i class="fas fa-th-large"></i>
        Dashboard
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-clipboard-list"></i>
        Booked Transactions
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-users"></i>
        Clients
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-table-list"></i>
        Type of Wastes
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-file-circle-plus"></i>
        Quotations
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-sack-dollar"></i>
        Commissions
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-cart-shopping"></i>
        Purchase Requests
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-warehouse"></i>
        Supplies Warehouse
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-person-falling-burst"></i>
        Incident Reports
    </a>
</li>
<li>
    <a href="#">
        <i class="fas fa-cog"></i>
        Settings
    </a>
</li>
<li>
    <a href="#">
        <i class="fas fa-question"></i>
        Help
    </a>
</li>
<li>
    <a href="https://fareastfuelcorporation.github.io/System/">
        <i class="fa-solid fa-power-off"></i>
        Logout
    </a>
</li>