<li>
    <a href="#">
        <i class="fa-solid fa-clipboard-list"></i>
        Marketing Transaction Form
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-users"></i>
        Clients
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-table-list"></i>
        Type of Wastes
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-file-circle-plus"></i>
        Quotations
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-sack-dollar"></i>
        Commissions
    </a>
</li>
