<li>
    <a href="#">
        <i class="fa-solid fa-clipboard-list"></i>
        Dispatching Transactions
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-truck"></i>
        Vehicles
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-wrench"></i>
        Vehicle Maintenance
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-magnifying-glass"></i>
        Vehicle Inspection
    </a>
</li>
