<li class="hover">
    <a href="#">
        <i class="fas fa-th-large"></i>
        Dashboard
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-clipboard-list"></i>
        Dispatching Transactions
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-truck"></i>
        Vehicles
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-wrench"></i>
        Vehicle Maintenance
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-magnifying-glass"></i>
        Vehicle Inspection
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-cart-shopping"></i>
        Purchase Requests
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-warehouse"></i>
        Supplies Warehouse
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-person-falling-burst"></i>
        Incident Reports
    </a>
</li>