<!-- dashboard -->
<section class="logistic" id="employee_dashboard">
    <h2>DASHBOARD</h2><br>
    <h2>PERFORMANCE SUMMARY</h2>
    <div class="cards">
        <div class="card">
            <div class="card-content">
                <div class="number" id="booked_transactions">0 day</div>
                <div class="card-name">Present</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-book-bookmark"></i>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number" id="pending_transactions">0 day</div>
                <div class="card-name">Absent</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-clipboard-list"></i>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number" id="on_hauling_transactions">0 min</div>
                <div class="card-name">Late</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-clipboard-user"></i>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number" id="hauled_transactions">0 min</div>
                <div class="card-name">Undertime</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-clipboard-check"></i>
            </div>
        </div>
        <div style="position: relative;">
            <div id="pieChart" style="position: absolute; margin-top: -40px;">
            </div>
        </div>
    </div><br>
    <h2>APPLICATION</h2>
</section>
<!-- dashboard -->
<section class="logistic" id="application_section">
    <h2>APPLICATION FORMS</h2><br>
    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
        <button type="button" class="card">
            <div class="card-content">
                <div class="number" id="sick_leave">15 days</div>
                <div class="card-name">Sick Leave Form</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-file-signature"></i>
            </div>
        </button>
        <button type="button" class="card">
            <div class="card-content">
                <div class="number" id="vacation_leave">15 days</div>
                <div class="card-name">Vacation Leave Form</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-file-signature"></i>
            </div>
        </button>
        <button type="button" class="card">
            <div class="card-content">
                <div class="card-name">Undertime Form</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-clock-rotate-left"></i>
            </div>
        </button>
        <button type="button" class="card">
            <div class="card-content">
                <div class="card-name">Overtime Form</div>
            </div>
            <div class="icon-box">
                <i class="fa-regular fa-clock"></i>
            </div>
        </button>
    </div>
    <!-- <div id="sick_leave_tab" style="position: absolute; top: 0; left: 0; height: calc(100%); width: 100%; background-color: #198754;">

    </div> -->
</section>

