<!-- dashboard -->
<section id="employee_dashboard">
    <h2>DASHBOARD</h2><br>
    <h2>PERFORMANCE SUMMARY</h2>
    <div class="cards">
        <div class="card">
            <div class="card-content">
                <div class="number" id="booked_transactions">0 day</div>
                <div class="card-name">Present</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-book-bookmark"></i>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number" id="pending_transactions">0 day</div>
                <div class="card-name">Absent</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-clipboard-list"></i>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number" id="on_hauling_transactions">0 min</div>
                <div class="card-name">Late</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-clipboard-user"></i>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number" id="hauled_transactions">0 min</div>
                <div class="card-name">Undertime</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-clipboard-check"></i>
            </div>
        </div>
        <div style="position: relative;">
            <div id="pieChart" style="position: absolute; margin-top: -40px;">
            </div>
        </div>
    </div><br>
    <div style="margin-top: 50px;">
        <h2 style="margin-bottom: 20px;">PENDING TRANSACTIONS</h2>
        <div class="table" style="max-height: 75vh; align-items: start; overflow-y: scroll; padding-bottom: 0 !important;">                            
            <div class="list">
                <table style=" margin-bottom: 0 !important;">
                    <thead style="position: sticky; top: 0; background-color: black;">                                    
                        <th>#</th>
                    </thead>
                    <tbody id="pending_list">
    
                    </tbody>
                    </table>
                <div class="text-center text_end">>>>>>>>>>> END OF LIST <<<<<<<<<<</div>
            </div>
        </div><br>
    </div>
</section>
<!-- inbox -->
<section id="inbox_section">
    <h2>INBOX</h2><br>
    <div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
        <img src="../images/coming_soon.jpg" alt="" style="width: 80%;">
    </div>
</section>
<!-- application_section -->
<section id="application_section">
    <h2>APPLICATION FORMS</h2><br>
    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
        <button type="button" class="card" style="position: relative;">
            <div class="card-content">
                <div class="number" id="sick_leave">5 days</div>
                <div class="card-name">Sick Leave Form</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-file-signature"></i>
            </div>
        </button>
        <div id="sick_leave_note" class="card-name" style="display: none; position: absolute; height: 100px; width: calc(100% - 40px); justify-content: center; align-items: center; z-index: 2; color: #dc3545;">
            <div style="font-weight: bold;">
                For Employee 1 Year and Above in Service
            </div>
        </div>
        <button type="button" class="card">
            <div class="card-content">
                <div class="number" id="vacation_leave">10 days</div>
                <div class="card-name">Vacation Leave Form</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-file-signature"></i>
            </div>
        </button>
        <button type="button" class="card">
            <div class="card-content">
                <div class="card-name">Travel Order Form</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-car-side"></i>
            </div>
        </button>
        <button type="button" class="card">
            <div class="card-content">
                <div class="card-name">Undertime Form</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-clock-rotate-left"></i>
            </div>
        </button>
        <button type="button" class="card">
            <div class="card-content">
                <div class="card-name">Overtime Form</div>
            </div>
            <div class="icon-box">
                <i class="fa-regular fa-clock"></i>
            </div>
        </button>
        <button type="button" class="card">
            <div class="card-content">
                <div class="card-name">Cash Advance Form</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-money-bill-wave"></i>
            </div>
        </button>
    </div>
    <form id="sick_leave_tab" style="display: none; position: fixed; top: 60px; left: 0; height: calc(100% - 120px); width: 100%; background-color: white; z-index: 2; padding: 20px"
        action="https://script.google.com/macros/s/AKfycbxajlsctKB9Nr_INrV_675tqPzEp7isnL9jP6o0sZdoGn3r_fM3YFL88piRh0ZLAA2-fA/exec" method="post">
        <button type="button" id="back" style="position: absolute; border: none; right: 20px; top: 20px;">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Back
        </button>
        <h2>SICK LEAVE FORM</h2><br>
        <input type="hidden" id="url" name="url">
        <input type="hidden" id="employee_id" name="employee_id">
        <input type="hidden" id="user" name="user">
        <input type="hidden" id="department" name="department">
        <input type="hidden" id="designation" name="designation">
        <input type="hidden" id="type_of_leave" name="type_of_leave" value="SICK LEAVE">
        <label for="date_start">
            From
        </label>
        <input type="date" id="date_start" name="date_start" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <label for="date_end">
            To
        </label>
        <input type="date" id="date_end" name="date_end" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <label for="reason">
            Reasons
        </label>
        <input type="text" id="reason" name="reason" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
            <button type="reset" class="form-control bg-danger text-white">
                Clear
            </button>
            <button type="submit" class="form-control bg-success text-white">
                Submit
            </button>
        </div>
    </form>
    <form id="vacation_leave_tab" style="display: none; position: fixed; top: 60px; left: 0; height: calc(100% - 120px); width: 100%; background-color: white; z-index: 2; padding: 20px"
        action="https://script.google.com/macros/s/AKfycbxajlsctKB9Nr_INrV_675tqPzEp7isnL9jP6o0sZdoGn3r_fM3YFL88piRh0ZLAA2-fA/exec" method="post">
        <button type="button" id="back" style="position: absolute; border: none; right: 20px; top: 20px;">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Back
        </button>
        <h2>VACATION LEAVE FORM</h2><br>
        <input type="hidden" id="url" name="url">
        <input type="hidden" id="employee_id" name="employee_id">
        <input type="hidden" id="user" name="user">
        <input type="hidden" id="department" name="department">
        <input type="hidden" id="designation" name="designation">
        <input type="hidden" id="type_of_leave" name="type_of_leave" value="VACATION LEAVE">
        <label for="date_start">
            From
        </label>
        <input type="date" id="date_start" name="date_start" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <label for="date_end">
            To
        </label>
        <input type="date" id="date_end" name="date_end" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <label for="reason">
            Reasons
        </label>
        <input type="text" id="reason" name="reason" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
            <button type="reset" class="form-control bg-danger text-white">
                Clear
            </button>
            <button type="submit" class="form-control bg-success text-white">
                Submit
            </button>
        </div>
    </form>
    <form id="travel_order_tab" style="display: none; position: fixed; top: 60px; left: 0; height: calc(100% - 120px); width: 100%; background-color: white; z-index: 2; padding: 20px; overflow-y: scroll;"
        action="https://script.google.com/macros/s/AKfycbwho1jCsd9oxW_9tGtSgy9H_lFMjyNTEhmbWbTKLEOa9JI-ouq2D8D1GrbgJgrjw4qe/exec" method="post">
        <button type="button" id="back" style="position: absolute; border: none; right: 20px; top: 20px;">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Back
        </button>
        <h2>TRAVEL ORDER FORM</h2><br>
        <input type="hidden" id="url" name="url">
        <input type="hidden" id="employee_id" name="employee_id">
        <input type="hidden" id="user" name="user">
        <input type="hidden" id="name_counter" name="name_counter" value="1">
        <input type="hidden" id="destination_counter" name="destination_counter" value="1">
        <label for="tof_form_no">
            Travel Order Form #
        </label>
        <input type="text" id="tof_form_no" name="tof_form_no" required readonly class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <label for="date_start">
            From
        </label>
        <div class="row">
            <div class="col-6">
                <input type="date" id="date_start" name="date_start" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
            </div>
            <div class="col-6">
                <input type="time" id="time_start" name="time_start" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
            </div>
        </div>
        <label for="date_end">
            To
        </label>
        <div class="row">
            <div class="col-6">
                <input type="date" id="date_end" name="date_end" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
            </div>
            <div class="col-6">
                <input type="time" id="time_end" name="time_end" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
            </div>
        </div>
        <datalist name="employeeList" id="employeeList">
            <option value="" disabled selected>Select Employee</option>
        </datalist>
        <div id="name_container">
            <div id="name_container1">
                <label for="name1">
                    Name 1
                </label>
                <input type="text" list="employeeList" id="name1" name="name1" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;" placeholder="Select Employee"><br>
            </div>
        </div>
        <div class="d-flex gap-3">
            <button type="button" id="add_item_button" class="btn btn-success">
                <i class="fa-solid fa-plus"></i>
            </button>
            <button type="button" id="remove_item_button" class="btn btn-danger" style="display: none;">
                <i class="fa-solid fa-minus"></i>
            </button>
        </div><br>
        <div id="data_container">
            <div id="data_container1">
                <label for="destination1">
                    Destination 1
                </label>
                <input type="text" id="destination1" name="destination1" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;" placeholder="Input Destination"><br>
                <label for="purpose1">
                    Purpose 1
                </label>
                <input type="text" id="purpose1" name="purpose1" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;" placeholder="Input Purpose"><br>
            </div>
        </div>
        <div class="d-flex gap-3">
            <button type="button" id="add_item_button2" class="btn btn-success">
                <i class="fa-solid fa-plus"></i>
            </button>
            <button type="button" id="remove_item_button2" class="btn btn-danger" style="display: none;">
                <i class="fa-solid fa-minus"></i>
            </button>
        </div><br>
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
            <button type="reset" class="form-control bg-danger text-white">
                Clear
            </button>
            <button type="submit" class="form-control bg-success text-white">
                Submit
            </button>
        </div>

    </form>
    <form id="undertime_tab" style="display: none; position: fixed; top: 60px; left: 0; height: calc(100% - 120px); width: 100%; background-color: white; z-index: 2; padding: 20px"
        action="https://script.google.com/macros/s/AKfycbw9rREoVNkEGe_rK2_MM1zPQCaAiL5W9WgHqYzUalc3jC7W0p87W_EeQ9MguRFpJCES/exec" method="post">
        <button type="button" id="back" style="position: absolute; border: none; right: 20px; top: 20px;">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Back
        </button>
        <h2>UNDERTIME FORM</h2><br>
        <input type="hidden" id="url" name="url">
        <input type="hidden" id="employee_id" name="employee_id">
        <input type="hidden" id="user" name="user">
        <input type="hidden" id="department" name="department">
        <input type="hidden" id="designation" name="designation">
        <input type="hidden" id="type_of_leave" name="type_of_leave" value="UNDERTIME FORM">
        <label for="date_input">
            Date
        </label>
        <input type="date" id="date_input" name="date_input" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <label for="time_start">
            From
        </label>
        <input type="time" id="time_start" name="time_start" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <label for="time_end">
            To
        </label>
        <input type="time" id="time_end" name="time_end" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <label for="reason">
            Reasons
        </label>
        <input type="text" id="reason" name="reason" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
            <button type="reset" class="form-control bg-danger text-white">
                Clear
            </button>
            <button type="submit" class="form-control bg-success text-white">
                Submit
            </button>
        </div>
    </form>
    <form id="overtime_tab" style="display: none; position: fixed; top: 60px; left: 0; height: calc(100% - 120px); width: 100%; background-color: white; z-index: 2; padding: 20px"
    action="https://script.google.com/macros/s/AKfycbw9rREoVNkEGe_rK2_MM1zPQCaAiL5W9WgHqYzUalc3jC7W0p87W_EeQ9MguRFpJCES/exec" method="post">
        <button type="button" id="back" style="position: absolute; border: none; right: 20px; top: 20px;">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Back
        </button>
        <h2>OVERTIME FORM</h2><br>
        <input type="hidden" id="url" name="url">
        <input type="hidden" id="employee_id" name="employee_id">
        <input type="hidden" id="user" name="user">
        <input type="hidden" id="department" name="department">
        <input type="hidden" id="designation" name="designation">
        <input type="hidden" id="type_of_leave" name="type_of_leave" value="OVERTIME FORM">
        <label for="date_input">
            Date
        </label>
        <input type="date" id="date_input" name="date_input" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <label for="time_start">
            From
        </label>
        <input type="time" id="time_start" name="time_start" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <label for="time_end">
            To
        </label>
        <input type="time" id="time_end" name="time_end" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <label for="reason">
            Reasons
        </label>
        <input type="text" id="reason" name="reason" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
            <button type="reset" class="form-control bg-danger text-white">
                Clear
            </button>
            <button type="submit" class="form-control bg-success text-white">
                Submit
            </button>
        </div>
    </form>
    <form id="cash_advance_tab" style="display: none; position: fixed; top: 60px; left: 0; height: calc(100% - 120px); width: 100%; background-color: white; z-index: 2; padding: 20px"
    action="https://script.google.com/macros/s/AKfycbyI-ljnaYIgRfqkVwNLs-dtAKahXfA351NytoVGzHLHVMRTHSu1QZpy0NXRCDSJONi4Gw/exec" method="post">
        <button type="button" id="back" style="position: absolute; border: none; right: 20px; top: 20px;">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Back
        </button>
        <h2>CASH ADVANCE FORM</h2><br>
        <input type="hidden" id="url" name="url">
        <input type="hidden" id="employee_id" name="employee_id">
        <input type="hidden" id="user" name="user">
        <input type="hidden" id="department" name="department">
        <input type="hidden" id="designation" name="designation">
        <input type="hidden" id="type_of_leave" name="type_of_leave" value="COMPANY LOAN">
        <label for="request_amount">
            Requested Amount
        </label>
        <input type="number" id="request_amount" name="request_amount" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <label for="purpose">
            Purpose of Cash Advance
        </label>
        <input type="text" id="purpose" name="purpose" required class="form-control" autocomplete="off" style="border: 1px solid black; width: 100% !important;"><br>
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
            <button type="reset" class="form-control bg-danger text-white">
                Clear
            </button>
            <button type="submit" class="form-control bg-success text-white">
                Submit
            </button>
        </div>
    </form>
</section>
<!-- profile_section -->
<section id="profile_section">
    <div style="display: flex; gap: 20px;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <img id="profile_picture" src="" alt="" style="height: 100px; border-radius: 100%; border: 3px solid white;">
        </div>
        <div id="info" style="display: flex; flex-direction: column; font-size: 14px !important; align-items: center; justify-content: center;">
            <div class="text-white text-center fw-bold" id="user_sidebar"></div>
            <div class="text-white text-center"  id="user_sidebar_officer"></div>
            <div class="text-white text-center"  id="user_sidebar_department"></div>
            <div class="text-white text-center" id="user_sidebar_employee_type"></div>
        </div>
    </div>
    <hr style="color: white;">
    <ul>
        <li>
            <a href="#">
                <div>
                    <i class="fa-solid fa-gear"></i>
                </div>
                <div>
                    <h6>Settings</h6>
                    <h6>></h6>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div>
                    <i class="fa-regular fa-circle-question"></i>
                </div>
                <div>
                    <h6>Help</h6>
                    <h6>></h6>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div>
                    <i class="fa-regular fa-file-lines"></i>
                </div>
                <div>
                    <h6>Terms and Conditions</h6>
                    <h6>></h6>
                </div>
            </a>
        </li>
        <li>
            <a href="https://fareastfuelcorporation.github.io/System/">
                <div>
                    <i class="fa-solid fa-power-off"></i>
                </div>
                <div>
                    <h6>Logout</h6>
                    <h6>></h6>
                </div>
            </a>
        </li>
    </ul>
</section>

