<!-- dashboard -->
<section class="logistic" id="employee_dashboard">
    <h2>DASHBOARD</h2><br>
    <h2>PERFORMANCE SUMMARY</h2>
    <div class="cards">
        <div class="card">
            <div class="card-content">
                <div class="number" id="booked_transactions"></div>
                <div class="card-name">Booked Transactions</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-book-bookmark"></i>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number" id="pending_transactions"></div>
                <div class="card-name">Pending Transaction</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-clipboard-list"></i>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number" id="on_hauling_transactions"></div>
                <div class="card-name">Ongoing Transactions</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-clipboard-user"></i>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number" id="hauled_transactions"></div>
                <div class="card-name">Hauled Transactions</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-clipboard-check"></i>
            </div>
        </div>
        <div style="position: relative;">
            <div id="pieChart" style="position: absolute; margin-top: -40px;">
            </div>
        </div>
    </div><br>

</section>

