<li class="hover">
    <a href="#">
        <i class="fa-solid fa-house"></i>
        <h6>Home</h6>
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-regular fa-envelope"></i>
        <h6>Inbox</h6>
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-solid fa-file-signature"></i>
        <h6>Transaction</h6>
    </a>
</li>
<li>
    <a href="#">
        <i class="fa-regular fa-circle-user"></i>
        <h6>Profile</h6>
    </a>
</li>
